<section class="section" id="autor">
    <div class="container">
        <div class="author__container animate-on-scroll">
            <div class="author__photos">
                <div class="author__image">
                    <img src="assets/img/foto-emilio.jpg" alt="Emilio Gutiérrez, co-fundador de Klupp">
                </div>
                <div class="author__image">
                    <img src="assets/img/foto-angel.jpg" alt="Ángel Vargas, co-fundador de Klupp">
                </div>
            </div>
            <div class="author__content">
                <h2 class="section__title--left">Creado por Emilio Gutiérrez y Ángel Vargas</h2>
                <p>Durante años, luchamos por conseguir clientes de forma predecible para nuestra propia agencia. Después de invertir miles de dólares en cursos y mentores, descubrimos que el secreto no estaba en tácticas aisladas, sino en construir un sistema.</p>
                <p>Ahora, nuestra misión es ayudar a otros dueños de negocios a implementar el mismo sistema que nos permitió escalar, para que puedan enfocarse en lo que realmente aman hacer.</p>
            </div>
        </div>
    </div>
</section>
