<section class="section section--secondary" id="casos">
    <div class="container">
        <h2 class="section__title">Ellos ya tienen un sistema de adquisición</h2>
        <div class="cases__container">
            <div class="case-card video-card">
                <div class="video-placeholder">
                    <p>Video Testimonio 1</p>
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title">Nombre del Cliente 1</h3>
                    <p class="case-card__text">"Logramos aumentar nuestras ventas en un 200% en solo 3 meses."</p>
                </div>
            </div>
            <div class="case-card video-card">
                 <div class="video-placeholder">
                    <p>Video Testimonio 2</p>
                </div>
                <div class="case-card__content">
                    <h3 class="case-card__title">Nombre del Cliente 2</h3>
                    <p class="case-card__text">"Ahora tengo un flujo predecible de leads cada semana."</p>
                </div>
            </div>
        </div>
    </div>
</section>
