<section class="section cta" id="cta">
    <div class="container cta__container--centered">
        <h2 class="section__title">Agenda una llamada</h2>
        <p class="cta__text">Si eres un coach, consultor o dueño de agencia y quieres implementar un sistema de adquisición de clientes, agenda una llamada gratuita para ver si podemos ayudarte.</p>
        <a href="https://calendly.com/sergioasael/klupp" target="_blank" class="button button--primary button--large">Agendar llamada gratuita</a>
    </div>
</section>
