<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__logo">
                <a href="index.html">
                    <img src="assets/img/logolargo_blanco.png" alt="Klupp Logo">
                </a>
                <p class="footer__text">© 2025 Klupp. Todos los derechos reservados.</p>
            </div>
            <div class="footer__social">
                <a href="#" class="footer__social-link">Instagram</a>
                <a href="#" class="footer__social-link">Facebook</a>
                <a href="#" class="footer__social-link">LinkedIn</a>
            </div>
        </div>
    </div>
</footer>
