<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="#" class="nav__logo">
                <img src="assets/img/logolargo_negro.png" alt="Klupp Logo">
            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#metodologia" class="nav__link">Proceso</a></li>
                    <li class="nav__item"><a href="#casos" class="nav__link">Testimonios</a></li>
                    <li class="nav__item"><a href="#faq" class="nav__link">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <a href="https://calendly.com/sergioasael/klupp" target="_blank" class="button button--primary nav__button">Agendar llamada</a>
            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>
