<header class="header">
    <div class="nav__container">
        <nav class="nav">
            <a href="#" class="nav__logo">
                <img src="assets/img/logolargo_negro.png" alt="Klupp Logo">
            </a>
            
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#metodologia" class="nav__link">Proceso</a></li>
                    <li class="nav__item"><a href="#servicios" class="nav__link">Solución</a></li>
                    <li class="nav__item"><a href="#faq" class="nav__link">FAQ</a></li>
                    <li class="nav__item nav__item--mobile-button">
                        <a href="https://wa.me/522221580997" target="_blank" class="button button--primary nav__button--mobile">Agendar llamada</a>
                    </li>
                </ul>
            </div>

            <a href="https://wa.me/522221580997" target="_blank" class="button button--outline nav__button nav__button--desktop">Agendar llamada</a>

            <div class="nav__toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>
